APPIUM_SERVER_URL=http://127.0.0.1:4723

ANDROID_DEVICE_NAME=emulator-5554
ANDROID_PLATFORM_VERSION=14
ANDROID_UDID=emulator-5554

ANDROID_APP_PATH=app/gyaanplant.apk
ANDROID_APP_PACKAGE=com.example.gyaanplant
ANDROID_APP_ACTIVITY=com.example.gyaanplant.MainActivity

LMS_EMAIL=
LMS_PASSWORD=
WEB_HEADLESS=true
